NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
FRONTEND_URL=http://localhost:3000
SUPABASE_URL=https://jmyulmzooeqyflrifzzs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__j3GbE8uBT_InqfY2Fb3VQ_ysHUOXXz
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET_KEY=
DATABASE_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
